<a href="https://colab.research.google.com/github/mdesouzasilva571-pixel/Revis-o/blob/main/Quest%C3%A3o%201%20a%2015.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [55]:
# Criar lista de 1 a 5
numeros = [1, 2, 3, 4, 5]

# Imprimir cada elemento
for n in numeros:
    print(n)

1
2
3
4
5

In [58]:
numero = float(input("Digite um número: "))

# Verificar se é positivo, negativo ou zero
if numero > 0:
    print("O número é positivo.")
elif numero < 0:
    print("O número é negativo.")
else:
    print("O número é zero.")

Digite um número: -5
O número é negativo.

In [59]:
for numero in range(1,11):
  print(numero)

1
2
3
4
5
6
7
8
9
10

In [61]:
 # Criação do dicionário
pessoas = {
    "Alice": 30,
    "Bruno": 25,
    "Carlos": 35
}
# Impressão de cada par (nome e idade)
print("Informações das pessoas:")
for nome, idade in pessoas.items():
    print(f"Nome: {nome}, Idade: {idade}")

Informações das pessoas:
Nome: Alice, Idade: 30
Nome: Bruno, Idade: 25
Nome: Carlos, Idade: 35

In [62]:
def soma(num1, num2):
  """Esta função recebe dois números e retorna a sua soma."""
  resultado = num1 + num2
  return resultado

# Exemplo de uso
numero_a = 7
numero_b = 20
soma_total = soma(numero_a, numero_b)
print(f"A soma de {numero_a} e {numero_b} é: {soma_total}") # Saída: A soma de 7 e 20 é: 27

A soma de 7 e 20 é: 27

In [64]:
# Pede ao usuário para digitar uma palavra
palavra = input("Por favor, digite uma palavra: ")

# Conta o número de caracteres da palavra
numero_de_caracteres = len(palavra)

# Imprime o resultado
print(f"A sua entrada tem {numero_de_caracteres} caracteres.")

Por favor, digite uma palavra: python
A sua entrada tem 6 caracteres.

In [65]:
frutas= ["maça","jabuticaba","banana","laranja"]
frutas.append("carambola")
for frutas in frutas:
  print(frutas)

maça
jabuticaba
banana
laranja
carambola

In [66]:
 numero=1
while numero <= 5:
    print(numero)
    numero += 1

1
2
3
4
5

In [67]:
#dicionario de produtos
produtos={
    "Notebook": 2000,
    "Celular":1300,
    "Caixinha de som": 250
}
#imprimir apenas nomes dos produtos
for produto in produtos:
    print(produto)

Notebook
Celular
Caixinha de som

In [68]:
 # Lista de números
numeros = [15, 30, 45, 60, 75]

# Calcular a soma de todos os elementos
soma = sum(numeros)

# Imprimir a soma
print(f'A soma de todos os elementos é: {soma}')

A soma de todos os elementos é: 225

In [69]:
# Dicionário com nomes como chave e tuplas (idade, cidade) como valor
pessoas = {
    "Ana": (43, "Bonito de Santa Fé"),
    "Carlos": (39, "Soledade"),
    "Maria Eduarda": (17, "Soledade"),
    "João": (35, "Porto Alegre"),
    "Luana": (22, "Curitiba")
}

# Imprimir o dicionário
print(pessoas)

{'Ana': (43, 'Bonito de Santa Fé'), 'Carlos': (39, 'Soledade'), 'Maria Eduarda': (17, 'Soledade'), 'João': (35, 'Porto Alegre'), 'Luana': (22, 'Curitiba')}

In [70]:
def classificar_numero(numero):
    if numero < 10:
        return "pequeno"
    elif 10 <= numero <= 50:
        return "médio"
    else:
        return "grande"

# Testando com um número
numero = 35
classificacao = classificar_numero(numero)

print(f"O número {numero} é classificado como '{classificacao}'.")

O número 35 é classificado como 'médio'.

In [71]:
# Tabuada de 1 a 5
for i in range(1, 6):  # de 1 até 5
    print(f"\nTabuada do {i}")
    for j in range(1, 11):  # de 1 até 10
        print(f"{i} x {j} = {i * j}")

Tabuada do 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

Tabuada do 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Tabuada do 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Tabuada do 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Tabuada do 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [74]:
def maior_numero(lista):
    if not lista:  # verifica se a lista não está vazia
        return None
    maior = lista[0]
    for num in lista:
        if num > maior:
            maior = num
    return maior

# Exemplo de uso
numeros = [3, 7, 2, 9, 5]
print("O maior número é:", maior_numero(numeros))

O maior número é: 9